<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357630734588-7cl41pht30ftbethq6plhvf33ss0ur0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357630734588-7cl41pht30ftbethq6plhvf33ss0ur0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDNnfA4CNqAy18agKPRsEzgJ-kahp1jb7w</string>
	<key>GCM_SENDER_ID</key>
	<string>357630734588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.speedyj1.MovieQuotes</string>
	<key>PROJECT_ID</key>
	<string>ios-moviequotes-2208e</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-moviequotes-2208e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357630734588:ios:507571967f0956f6a22779</string>
</dict>
</plist>