<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725151382970-elkf18fgr7fo5fj2nvmjh6ivvjtlgcev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725151382970-elkf18fgr7fo5fj2nvmjh6ivvjtlgcev</string>
	<key>API_KEY</key>
	<string>AIzaSyBp8cxGOD6avQshexP4l3FjUKHRA24GkBU</string>
	<key>GCM_SENDER_ID</key>
	<string>725151382970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.speedyj1.MovieQuotes</string>
	<key>PROJECT_ID</key>
	<string>ios-moviequotes</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-moviequotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725151382970:ios:05e478820d0fd2108b7183</string>
</dict>
</plist>